body {
    font-family: "Chakra Petch", sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    margin: 20px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 35px;
    color: rgb(255, 0, 0);
}

.chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20%;
    color: rgb(255, 255, 255)
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}
img {
    height: 100px;
  }
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
  }
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
.categoria-videos img {
    opacity: 0.5;
    height: 150px
  }
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(255, 0, 0);
}
.categoria h2 {
    color: rgb(143, 17, 0);
}